<link rel="stylesheet" href="../CSS/aboutme.css" />

<section id="about" class="about-section">
  <div class="about-wrap">

    <h2 class="about-title">About <span>Me</span></h2>

    <div class="about-avatar">
      <img src="images/about.png" alt="About image">
    </div>

    <h3 class="about-role">Frontend Developer</h3>

    <p class="about-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste asperiores molestiae nemo ipsam porro nam nesciunt
      repudiandae voluptates blanditiis soluta eum, tempora explicabo optio corrupti ullam quidem magnam quaerat qui
      dolorem architecto in dignissimos! Nostrum fugit, modi sed fugiat possimus maxime voluptates ea molestiae animi,
      nesciunt inventore libero hic. Consectetur praesentium facere aut perspiciatis voluptate. Nam sunt perspiciatis
      quasi rem.
    </p>

    <a class="about-btn" href="../assets/" download>
      Download Resume
    </a>

  </div>
</section>
