
<link rel="stylesheet" href="../CSS/latestwork.css" />

<section class="academics" id="works">
    <div class="glow glow--left"></div>
    <div class="glow glow--right"></div>

    <div class="container">
      <header class="section-title">
        <h2>Academics</h2>
        <span class="title-line"></span>
      </header>

      <div class="timeline">
        <span class="timeline-line"></span>

        <!-- JS will render items here -->
        <div class="timeline-items" id="timelineItems"></div>
      </div>
    </div>
  </section>